@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
.fond {
  background-color: #f7f7f7; }

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif; }

.espace-bloc {
  padding: 80px 0; }

.no-padding {
  padding: 0; }

.img-top {
  margin-top: 150px; }

.img-top1 {
  margin-top: 0px; }

h1 {
  font-size: 63px;
  color: #2a4789;
  font-family: 'Oswald', sans-serif; }

h2 {
  position: relative;
  text-align: left;
  width: 80%;
  top: 200px;
  -ms-transform: rotate(5.8deg);
  -webkit-transform: rotate(5.8deg);
  transform: rotate(5.8deg);
  font-size: 63px;
  color: #2a4789;
  left: 12px;
  font-family: 'Oswald', sans-serif; }

.container h3.subtitle{
    font-size: 43px;
    color: #2a4789;}

.h2 {
  position: relative;
  text-align: right;
  width: 95%;
  top: 70px;
  -ms-transform: rotate(-5.8deg);
  -webkit-transform: rotate(-5.8deg);
  transform: rotate(-5.8deg);
  font-size: 63px;
  color: #2a4789;
  font-family: 'Oswald', sans-serif; }

strong {
  color: #ed1450; }

.social {
  text-align: center; }
  .social .btn {
    border-radius: 100px;
    padding: 8px 8px;
    border: none;
    height: 36px;
    width: 36px; }
  .social .fa {
    color: #ffffff; }
  .social .github {
    background-color: #333333;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .social .github:hover {
      border: 1px solid #333333;
      background-color: #ffffff; }
      .social .github:hover .fa {
        color: #333; }
  .social .twitter {
    background-color: #1da1f2;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .social .twitter:hover {
      background-color: #ffffff;
      border: 1px solid #1da1f2; }
      .social .twitter:hover .fa {
        color: #1da1f2; }
  .social .linkedin {
    background-color: #0177B5;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .social .linkedin:hover {
      border: 1px solid #0177B5;
      background-color: #ffffff; }
      .social .linkedin:hover .fa {
        color: #0177B5; }

/*debut nav*/
.navbar-default {
  border: none;
  background-color: #2a4789; }
  .navbar-default .navbar-toggle {
    border: none; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse .navbar-nav li a {
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .navbar-default .navbar-collapse .navbar-nav li a:hover {
      background-color: #efdf31;
      color: #222222; }
  .navbar-default .navbar-collapse .navbar-nav .dropdown-menu {
    background-color: #2a4789;
    border: none; }
    .navbar-default .navbar-collapse .navbar-nav .dropdown-menu .divider {
      margin: 0;
      height: 2px; }
    .navbar-default .navbar-collapse .navbar-nav .dropdown-menu li a {
      color: #ffffff;
      padding-top: 20px;
      padding-bottom: 20px; }
      .navbar-default .navbar-collapse .navbar-nav .dropdown-menu li a:hover {
        background-color: #efdf31;
        color: #222222; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #efdf31; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #efdf31; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: #efdf31; }

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 800px; }

/*fin nav*/
/*debut accueil*/
#myCarousel {
  padding-top: 80px;
  background-color: #ffffff;
  z-index: 3; }
  #myCarousel .carousel-indicators {
    text-align: right; }

.descriptionAccueil h3 {
  color: #2a4789;
  font-size: 35px;
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif; }
  .descriptionAccueil h3 .fa {
    position: relative;
    bottom: 3px; }
.descriptionAccueil p {
  font-size: 17px;
  line-height: 30px;
  text-align: justify; }
.descriptionAccueil hr {
  margin: 80px 0; }

.logo {
  padding-bottom: 50px; }
  .logo .row {
    padding-bottom: 80px; }
    .logo .row img {
      margin-top: 80px; }

.devise {
  background: url(../images/devise.jpg) no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 70px;
  margin-top: 90px; }
  .devise p {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif; }

.contactAccueil a {
  text-decoration: none; }
.contactAccueil h4 {
  background-color: #ffffff;
  color: #2a4789;
  width: 10em;
  height: 10em;
  padding-top: 35px;
  border-radius: 100%;
  margin: 40px auto;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .contactAccueil h4:hover {
    background-color: #2a4789;
    color: #ffffff; }
  .contactAccueil h4 .fa {
    font-size: 30px;
    margin-bottom: 15px; }

/*fin accueil*/
/*debut a propos*/
#apropos {
  color: #222222;
  background-color: #f7f7f7;
  text-align: justify;
  padding: 0 0 80px 0; }
  #apropos article {
    padding: 10px 30px; }
    #apropos article .fa {
      color: #2a4789;
      border-left: 20px solid #f7f7f7;
      border-right: 20px solid #f7f7f7; }
    #apropos article .intro {
      text-align: justify; }
    #apropos article a:hover {
      color: #ed1450; }
    #apropos article p {
      text-align: justify;
      line-height: 25px; }
    #apropos article h2 {
      text-align: center;
      color: #222222; }
    #apropos article h4 {
      text-align: center;
      color: #2a4789;
      margin: 20px 0 25px 0;
      font-family: 'Oswald', sans-serif; }

/*fin a propos*/
/*debut formation*/
#formation img {
  padding-top: 50px; }
#formation article h3 {
  text-align: center;
  color: #2a4789;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: bold; }
#formation article .citation {
  color: #808080;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px; }
#formation article li {
  list-style-type: square;
  margin: 8px auto; }

/*fin formation*/
/*debut apprenant*/
#apprenants {
  background-color: #f7f7f7; }
  #apprenants .img-circle {
    height: 150px;
    width: 150px; }
  #apprenants article {
    margin-bottom: 100px; }
    #apprenants article .background {
      background-color: #ffffff;
      padding: 10px; }
    #apprenants article p a {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #222222;
      text-align: center; }
    #apprenants article h3 {
      text-align: center;
      color: #2a4789;
      font-size: 15px;
      font-weight: bold; }
    #apprenants article .portfolio {
      margin-bottom: 15px;
      text-align: center;
      margin-top: 15px; }
      #apprenants article .portfolio .btn {
        background-color: #efdf31;
        border-radius: 100px;
        border: none;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #apprenants article .portfolio .btn:hover {
          background-color: #777777;
          color: #ffffff; }
    #apprenants article .label {
      line-height: 2.2; }
    #apprenants article .contacter {
      background-color: #2a4789;
      color: #ffffff;
      width: 100%;
      border-radius: 0;
      border: none;
      padding-top: 20px;
      padding-bottom: 20px;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      #apprenants article .contacter:hover {
        background-color: #ffffff;
        color: #2a4789; }

/*fin apprenant*/
/*debut contrat pro */
#contrat-pro h3 {
  color: #2a4789;
  font-size: 35px;
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
  text-align: center; }
#contrat-pro hr {
  margin: 80px auto 60px auto; }
#contrat-pro a {
  text-decoration: none;
  color: #ed1450; }
#contrat-pro table {
  margin-top: 50px; }
#contrat-pro .contacter {
  background-color: #2a4789;
  color: #f7f7f7;
  border-radius: 5px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  #contrat-pro .contacter:hover {
    background-color: #f7f7f7;
    color: #2a4789; }

/*fin contrat pro */
/*debut contact*/
.descriptionFormulaire p {
  color: #ffffff; }

.formulaire {
  padding: 50px 0; }
  .formulaire .control-label {
    color: #2a4789; }

.contact {
  background-color: #f7f7f7;
  padding: 50px 0; }
  .contact h3 {
    color: #2a4789;
    text-align: center;
    margin-bottom: 30px; }
  .contact li {
    margin-bottom: 20px; }
    .contact li a {
      text-decoration: none;
      color: #222222; }
  .contact .fa {
    color: #2a4789;
    font-size: 20px;
    margin-right: 10px; }

/*fin contact*/
/*debut footer*/
footer {
  color: #ffffff;
  background-color: #2a4789;
  padding: 50px 0; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #ffffff; }

/*fin footer*/
/*remonter au top*/
.fa-chevron-up {
  position: fixed;
  right: 10px;
  color: #ffffff;
  bottom: 20px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 100px;
  visibility: hidden;
  z-index: 99;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .fa-chevron-up:hover {
    background-color: #efdf31;
    color: #222222; }

/* debut mediaqueries */
@media screen and (max-width: 1200px) {
  h2 {
    top: 180px; }

  .h2 {
    top: 50px; } }
@media screen and (max-width: 900px) {
  .navbar-brand img {
    width: 83px; } }
@media screen and (max-width: 768px) {
  .navbar-default .navbar-toggle {
    float: left; }
  .navbar-default .navbar-brand {
    padding: 0 15px; }
    .navbar-default .navbar-brand img {
      width: 100px;
      margin-top: 5px; }
  .navbar-default .navbar-collapse {
    box-shadow: none;
    border: none; }
    .navbar-default .navbar-collapse .navbar-nav li a {
      padding-top: 20px;
      padding-bottom: 20px; }
    .navbar-default .navbar-collapse .navbar-nav .dropdown-menu li a {
      padding-top: 18px;
      padding-bottom: 18px; }

  h2,
  .h2 {
    margin-top: 100px;
    position: static;
    text-align: center;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
    font-size: 40px;
    font-family: 'Oswald', sans-serif; }

  #myCarousel {
    padding-top: 50px; }

  .img-top {
    margin-top: 30px; } }
/* fin mediaqueries */

/*# sourceMappingURL=main.css.map */
