$couleur1: #efdf31;
$couleur2:#2a4789;
$couleur3:#222222;
$couleur4: #ffffff;
$couleur5: #f7f7f7;
$couleur6:#ed1450;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($transform...) {
    -ms-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

.fond {
    background-color: $couleur5;
}

body {
    background-color: $couleur4;
    font-family: 'Open Sans', sans-serif;
}

.espace-bloc {
    padding: 80px 0;
}

.no-padding {
    padding: 0;
}

.img-top {
    margin-top: 150px;
}

.img-top1 {
    margin-top: 0px;
}

h1 {
    font-size: 63px;
    color: $couleur2;
    font-family: 'Oswald', sans-serif;
}

h2 {
    position: relative;
    text-align: left;
    width: 80%;
    top: 200px;
    @include transform(rotate(5.8deg));
    font-size: 63px;
    color: $couleur2;
    left: 12px;
    font-family: 'Oswald', sans-serif;
}

.h2 {
    position: relative;
    text-align: right;
    width: 95%;
    top: 70px;
    @include transform(rotate(-5.8deg));
    font-size: 63px;
    color: $couleur2;
    font-family: 'Oswald', sans-serif;
}

strong {
    color: $couleur6;
}

.social {
    text-align: center;
    .btn {
        border-radius: 100px;
        padding: 8px 8px;
        border: none;
        height: 36px;
        width: 36px;
    }
    .fa {
        color: $couleur4;
    }
    .github {
        background-color: #333333;
        @include transition(all 0.4s ease-in-out);
        &:hover {
            border: 1px solid #333333;
            background-color: $couleur4;
            .fa {
                color: #333;
            }
        }
    }
    .twitter {
        background-color: #1da1f2;
        @include transition(all 0.4s ease-in-out);
        &:hover {
            background-color: $couleur4;
            border: 1px solid #1da1f2;
            .fa {
                color: #1da1f2;
            }
        }
    }
    .linkedin {
        background-color: #0177B5;
        @include transition(all 0.4s ease-in-out);
        &:hover {
            border: 1px solid #0177B5;
            background-color: $couleur4;
            .fa {
                color: #0177B5;
            }
        }
    }
}


/*debut nav*/

.navbar-default {
    border: none;
    background-color: $couleur2;
    .navbar-toggle {
        border: none;
        &:focus,
        &:hover {
            background-color: transparent;
        }
        .icon-bar {
            background-color: $couleur4;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            li {
                a {
                    color: $couleur4;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    @include transition(all 0.3s ease-in-out);
                    &:hover {
                        background-color: $couleur1;
                        color: $couleur3;
                    }
                }
            }
            .dropdown-menu {
                background-color: $couleur2;
                border: none;
                .divider {
                    margin: 0;
                    height: 2px;
                }
                li {
                    a {
                        color: $couleur4;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        &:hover {
                            background-color: $couleur1;
                            color: $couleur3;
                        }
                    }
                }
            }
        }
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: $couleur1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: $couleur1;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: $couleur1;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 800px;
}


/*fin nav*/


/*debut accueil*/

#myCarousel {
    padding-top: 80px;
    background-color: $couleur4;
    z-index: 3;
    .carousel-indicators {
        text-align: right;
    }
}

.descriptionAccueil {
    h3 {
        color: $couleur2;
        font-size: 35px;
        margin-bottom: 40px;
        font-family: 'Oswald', sans-serif;
        .fa {
            position: relative;
            bottom: 3px;
        }
    }
    p {
        font-size: 17px;
        line-height: 30px;
        text-align: justify;
    }
    hr {
        margin: 80px 0;
    }
}

.logo {
    padding-bottom: 50px;
    .row {
        padding-bottom: 80px;
        img {
            margin-top: 80px;
        }
    }
}

.devise {
    background: url(../images/devise.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 70px;
    margin-top: 90px;
    p {
        color: $couleur4;
        font-size: 50px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }
}

.contactAccueil {
    a {
        text-decoration: none;
    }
    h4 {
        background-color: $couleur4;
        color: $couleur2;
        width: 10em;
        height: 10em;
        padding-top: 35px;
        border-radius: 100%;
        margin: 40px auto;
        @include transition(all 0.3s ease-in-out);
        &:hover {
            background-color: $couleur2;
            color: $couleur4;
        }
        .fa {
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
}


/*fin accueil*/


/*debut a propos*/

#apropos {
    color: $couleur3;
    background-color: $couleur5;
    text-align: justify;
    padding: 0 0 80px 0;
    article {
        padding: 10px 30px;
        .fa {
            color: $couleur2;
            border-left: 20px solid $couleur5;
            border-right: 20px solid $couleur5;
        }
        .intro {
            text-align: justify;
        }
        a {
            &:hover {
                color: $couleur6;
            }
        }
        p {
            text-align: justify;
            line-height: 25px;
        }
        h2 {
            text-align: center;
            color: $couleur3;
        }
        h4 {
            text-align: center;
            color: $couleur2;
            margin: 20px 0 25px 0;
            font-family: 'Oswald', sans-serif;
        }
    }
}


/*fin a propos*/


/*debut formation*/

#formation {
    img {
        padding-top: 50px;
    }
    article {
        h3 {
            text-align: center;
            color: $couleur2;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 25px;
            font-weight: bold;
        }
        .citation {
            color: #808080;
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            padding-top: 20px;
        }
        li {
            list-style-type: square;
            margin: 8px auto;
        }
    }
}


/*fin formation*/


/*debut apprenant*/

#apprenants {
    background-color: $couleur5;
    .img-circle {
        height: 150px;
        width: 150px;
    }
    article {
        margin-bottom: 100px;
        .background {
            background-color: $couleur4;
            padding: 10px;
        }
        p {
            a {
                margin-top: 20px;
                margin-bottom: 20px;
                color: $couleur3;
                text-align: center;
            }
        }
        h3 {
            text-align: center;
            color: $couleur2;
            font-size: 15px;
            font-weight: bold;
        }
        .portfolio {
            margin-bottom: 15px;
            text-align: center;
            margin-top: 15px;
            .btn {
                background-color: $couleur1;
                border-radius: 100px;
                border: none;
                @include transition(all 0.2s ease-in-out);
                &:hover {
                    background-color: #777777;
                    color: $couleur4
                }
            }
        }
        .label {
            line-height: 2.2;
        }
        .contacter {
            background-color: #777777;
            color: $couleur4;
            width: 100%;
            border-radius: 0;
            border: none;
            padding-top: 20px;
            padding-bottom: 20px;
            @include transition(all 0.4s ease-in-out);
            &:hover {
                background-color: $couleur4;
                color: #777777;
            }
        }
    }
}


/*fin apprenant*/


/*debut contact*/

.descriptionFormulaire {
    p {
        color: $couleur4;
    }
}

.formulaire {
    padding: 50px 0;
    .control-label {
        color: $couleur2;
    }
}

.contact {
    background-color: $couleur5;
    padding: 50px 0;
    h3 {
        color: $couleur2;
        text-align: center;
        margin-bottom: 30px;
    }
    li {
        margin-bottom: 20px;
    }
    .fa {
        color: $couleur2;
        font-size: 20px;
        margin-right: 10px;
    }
}


/*fin contact*/


/*debut footer*/

footer {
    color: $couleur4;
    background-color: $couleur2;
    padding: 50px 0;
    a {
        color: $couleur4;
        &:hover {
            color: $couleur4;
        }
    }
}


/*fin footer*/


/*remonter au top*/

.fa-chevron-up {
    position: fixed;
    right: 10px;
    color: $couleur4;
    bottom: 20px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 100px;
    visibility: hidden;
    z-index: 99;
    @include transition(all 0.2s ease-in-out);
    &:hover {
        background-color: $couleur1;
        color: $couleur3;
    }
}


/* debut mediaqueries */

@media screen and (max-width: 1200px) {
    h2,
    {
        top: 180px;
    }
    .h2 {
        top: 50px;
    }
}

@media screen and (max-width: 900px) {
    .navbar-brand {
        img {
            width: 83px;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar-default {
        .navbar-toggle {
            float: left;
        }
        .navbar-brand {
            padding: 0 15px;
            img {
                width: 100px;
                margin-top: 5px;
            }
        }
        .navbar-collapse {
            box-shadow: none;
            border: none;
            .navbar-nav {
                li {
                    a {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
                .dropdown-menu {
                    li {
                        a {
                            padding-top: 18px;
                            padding-bottom: 18px;
                        }
                    }
                }
            }
        }
    }
    h2,
    .h2 {
        margin-top: 100px;
        position: static;
        text-align: center;
        @include transform(rotate(0deg));
        width: 100%;
        font-size: 40px;
        font-family: 'Oswald', sans-serif;
    }
    #myCarousel {
        padding-top: 50px;
    }
    .img-top {
        margin-top: 30px;
    }
}


/* fin mediaqueries */