$couleur1: #efdf31;
$couleur2:#2a4789;
$couleur3:#222222;
$couleur4: #ffffff;
$couleur5: #f7f7f7;
$couleur6:#ed1450;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

.fond {
    background-color: $couleur5;
}

body {
    background-color: $couleur4;
    font-family: 'Open Sans', sans-serif;
}

.espace-bloc {
    padding: 80px 0;
}

.no-padding {
    padding: 0;
}

.img-top {
    margin-top: 150px;
}

.img-top1 {
    margin-top: 0px;
}

h1 {
    font-size: 63px;
    color: $couleur2;
    font-family: 'Oswald', sans-serif;
}

h2 {
    position: relative;
    text-align: left;
    width: 80%;
    top: 200px;
    transform: rotate(5.8deg);
    -ms-transform: rotate(5.8deg);
    -webkit-transform: rotate(5.8deg);
    font-size: 63px;
    color: $couleur2;
    left: 12px;
    font-family: 'Oswald', sans-serif;
}

.h2 {
    position: relative;
    text-align: right;
    width: 95%;
    top: 70px;
    transform: rotate(-5.8deg);
    -ms-transform: rotate(-5.8deg);
    -webkit-transform: rotate(-5.8deg);
    font-size: 63px;
    color: $couleur2;
    font-family: 'Oswald', sans-serif;
}


/*debut nav*/

.navbar-default {
    border: none;
    background-color: $couleur2;
    .navbar-toggle {
        border: none;
        &:focus,
        &:hover {
            background-color: transparent;
        }
        .icon-bar {
            background-color: $couleur4;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            li {
                a {
                    color: $couleur4;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    @include transition(all 0.3s ease-in-out);
                    &:hover {
                        background-color: $couleur1;
                        color: $couleur3;
                    }
                }
            }
            .dropdown-menu {
                background-color: $couleur2;
                border: none;
                li {
                    a {
                        color: $couleur4;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        &:hover {
                            background-color: $couleur1;
                            color: $couleur3;
                        }
                    }
                }
            }
        }
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: $couleur1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: $couleur1;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: $couleur1;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 800px;
}


/*fin nav*/


/*debut accueil*/

#myCarousel {
    padding-top: 80px;
    background-color: $couleur4;
    z-index: 3;
}

.carousel-indicators {
    text-align: right;
}

.descriptionAccueil {
    .gras {
        font-weight: bold;
        color: $couleur2;
    }
    p {
        padding: 30px 0;
        font-size: 25px;
        line-height: 40px;
    }
    .color {
        color: $couleur6;
    }
    .style {
        color: $couleur2;
        font-size: 60px;
    }
}

.logo {
    padding-bottom: 50px;
    .row {
        padding-bottom: 80px;
        #logo1 {
            margin-top: 30px;
        }
        #logo2 {
            margin-top: 30px;
        }
        #logo3 {
            margin-top: 30px;
        }
        #logo4 {
            margin-top: 30px;
        }
        #logo5 {
            margin-top: 30px;
        }
        #logo7 {
            margin-top: 30px;
        }
    }
}


/*fin accueil*/


/*debut a propos*/

#apropos {
    color: $couleur3;
    background-color: $couleur5;
    text-align: justify;
    padding: 0 0 80px 0;
    article {
        padding: 10px 30px;
        .fa {
            color: $couleur2;
            border-left: 20px solid $couleur5;
            border-right: 20px solid $couleur5;
        }
        .intro {
            text-align: center;
        }
        p {
            text-align: justify;
            line-height: 25px;
        }
        h2 {
            text-align: center;
            color: $couleur3;
        }
        h4 {
            text-align: center;
            color: $couleur2;
            margin: 20px 0 25px 0;
        }
    }
}


/*fin a propos*/


/*debut formation*/

#formation {
    .imagform {
        padding: 35px;
        margin-top: 50px;
    }
    article {
        h3 {
            text-align: center;
            color: $couleur2;
            padding-top: 45px;
            padding-bottom: 45px;
        }
        #citation {
            color: grey;
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            padding-top: 20px;
        }
        .title {
            font-size: 25px;
            font-weight: bold;
        }
        .deco {
            color: $couleur6;
            font-weight: bold;
        }
        li {
            list-style-type: square;
        }
    }
}


/*fin formation*/


/*debut apprenant*/

#apprenants {
    background-color: $couleur5;
    .img-circle {
        height: 150px;
        width: 150px;
    }
    article {
        margin-bottom: 50px;
        p {
            margin-top: 15px;
            color: $couleur3;
            text-align: left;
        }
        h3 {
            text-align: center;
            color: $couleur3;
            font-size: 15px;
        }
        .NP {
            color: $couleur2;
            font-weight: bold;
        }
        .social {
            text-align: center;
            .btn {
                border-radius: 100px;
                padding: 8px 8px;
                border: none;
            }
        }
        .portfolio {
            margin-bottom: 15px;
            text-align: center;
            margin-top: 15px;
            .btn {
                background-color: $couleur1;
                /*  padding: 12px; */
                border-radius: 100px;
                border: none;
                &:hover {
                    background-color: #777;
                    /*    background-color: $couleur1; */
                    color: $couleur4
                }
            }
        }
        .label {
            line-height: 2.2;
        }
        .background {
            background-color: $couleur4;
            padding: 10px;
        }
        .contacter {
            background-color: #777;
            color: $couleur4;
            width: 100%;
            border-radius: 0;
            border: none;
            height: 50px;
        }
        .fa {
            color: $couleur4;
        }
        .github {
            background-color: #333;
        }
        .twitter {
            background-color: #1da1f2;
        }
        .linkedin {
            background-color: #0177B5;
        }
    }
}


/*fin apprenant*/


/*debut contact*/

.descriptionFormulaire {
    p {
        color: $couleur4;
    }
}

.formulaire {
    padding: 50px 0;
    .control-label {
        color: $couleur2;
    }
}

#contact {
    margin-top: 80px;
    padding: 40px;
    color: $couleur4;
}

.contact {
    background-color: $couleur5;
    padding: 50px 0;
    h3 {
        color: $couleur2;
        text-align: center;
        margin-bottom: 20px;
    }
    h4 {
        color: $couleur2;
    }
}


/*fin contact*/


/*debut footer*/

footer {
    color: $couleur4;
    background-color: $couleur2;
    a {
        color: $couleur4;
        &:hover {
            color: $couleur4;
        }
    }
}


/*fin footer*/


/* debut mediaqueries */

@media screen and (max-width: 1200px) {
    h2,
    {
        top: 180px;
    }
    .h2 {
        top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        padding: 0 15px;
    }
    .navbar-collapse {
        box-shadow: none;
        border: none;
    }
    h2,
    .h2 {
        margin-top: 100px;
        position: static;
        text-align: center;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        width: 100%;
        font-size: 40px;
        color: $couleur2;
        font-family: 'Oswald', sans-serif;
    }
    #myCarousel {
        padding-top: 50px;
    }
    .img-top {
        margin-top: 30px;
    }
}


/* fin mediaqueries */